Repository marcuspat/netrain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NetRain-maintainers, @NetRain-core, @NetRain-security, @NetRain-ui, @NetRain-qa, @NetRain-devops, @NetRain-docs

feat: complete NetRain with enhanced UI, performance, and tests
  .github/workflows/release.yml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  LAUNCH_CHECKLIST.md
  LICENSE
  PERFORMANCE_REPORT.md
  README.md
  RELEASE_NOTES.md
  SOCIAL_MEDIA_TEMPLATES.md
  VISUAL_EFFECTS.md
  benches/benchmarks.rs
  demo.sh
  src/lib.rs
  src/main.rs
  src/matrix_rain.rs
  src/optimized.rs
  src/packet.rs
  tests/integration_tests.rs
  tests/threat_detection_tests.rs
Owners: @NetRain-maintainers, @NetRain-devops, @NetRain-docs, @NetRain-core, @NetRain-ui, @NetRain-qa

docs: update README with realistic installation from GitHub source
  README.md
Owners: @NetRain-maintainers, @NetRain-docs

fix: improve packet capture with device detection and error handling
  src/main.rs
  test_capture.sh
Owners: @NetRain-maintainers

fix: suppress build warnings for clean user experience
  src/lib.rs
  src/main.rs
  src/threat_detection.rs
  tests/matrix_rain_tests.rs
Owners: @NetRain-maintainers, @NetRain-core, @NetRain-security, @NetRain-qa

fix: improve UI layout and fix protocol detection
  src/main.rs
  src/optimized.rs
  visual_fixes.md
Owners: @NetRain-maintainers, @NetRain-docs

fix: clean up UI and fix packet parsing
  src/main.rs
  src/main_simple.rs
  src/optimized.rs
Owners: @NetRain-maintainers

chore: remove temporary files
  src/main_simple.rs
  visual_fixes.md
Owners: @NetRain-maintainers, @NetRain-docs

feat: Complete visual overhaul with working matrix rain effect
  src/lib.rs
  src/main.rs
  src/main_fixed.rs
  src/matrix_rain.rs
  src/simple_matrix.rs
  tests/matrix_rain_tests.rs
Owners: @NetRain-maintainers, @NetRain-core, @NetRain-ui, @NetRain-qa

chore: remove temporary development file
  src/main_fixed.rs
Owners: @NetRain-maintainers

fix: suppress unused variable warnings
  src/main.rs
Owners: @NetRain-maintainers

fix: Improve SSH packet detection with port-based classification
  src/lib.rs
  src/optimized.rs
  src/simple_matrix 2.rs
Owners: @NetRain-maintainers, @NetRain-core

chore: remove duplicate file
  src/simple_matrix 2.rs
Owners: @NetRain-maintainers

feat: Add protocol-based color coding to network activity graph
  src/lib.rs
  src/main.rs
  src/protocol_activity.rs
Owners: @NetRain-maintainers, @NetRain-core

fix: Make protocol activity graphs work in all modes
  src/main.rs
  src/protocol_activity.rs
Owners: @NetRain-maintainers

perf: Improve protocol activity graph responsiveness
  src/main.rs
  src/protocol_activity.rs
Owners: @NetRain-maintainers

fix: Revert activity tick rate to prevent graphs moving too fast
  src/main.rs
  src/protocol_activity.rs
Owners: @NetRain-maintainers

fix: Adjust protocol activity tick rate to 100ms for balanced visualization
  src/main.rs
Owners: @NetRain-maintainers

fix: Fine-tune protocol activity tick rate to 150ms
  src/main.rs
Owners: @NetRain-maintainers

fix: Slow down demo mode for more realistic traffic simulation
  src/main.rs
Owners: @NetRain-maintainers

chore: Bump version to 0.2.0
  CHANGELOG.md
  Cargo.toml
Owners: @NetRain-maintainers, @NetRain-core

feat: Add automatic version badge and update script
  README.md
  scripts/update-version.sh
Owners: @NetRain-maintainers, @NetRain-docs

feat: Display version number in application UI
  Cargo.lock
  src/main.rs
Owners: @NetRain-maintainers, @NetRain-core

feat: Adjust UI layout for better packet visibility
  src/main.rs
Owners: @NetRain-maintainers

fix: Remove redundant "RAW PACKET DATA:" header to save space
  src/main.rs
Owners: @NetRain-maintainers

fix: Balance threats and packet dump window sizes
  src/main.rs
Owners: @NetRain-maintainers

feat: Add Q:Quit indicator to top stats bar
  src/main.rs
Owners: @NetRain-maintainers

feat: Add package distribution infrastructure
  .gitignore
  Cargo.toml
  DISTRIBUTION.md
  README.md
  homebrew/netrain.rb
  install.sh
  scripts/prepare-homebrew.sh
  scripts/publish-crate.sh
  src/main.rs
Owners: @NetRain-maintainers, @NetRain-core, @NetRain-docs

docs: Update README for crates.io publication
  CHANGELOG.md
  DISTRIBUTION.md
  README.md
Owners: @NetRain-maintainers, @NetRain-docs

fix: Add clear error messages when running without proper permissions
  README.md
  src/main.rs
Owners: @NetRain-maintainers, @NetRain-docs

chore: bump version to 0.2.1
  CHANGELOG.md
  Cargo.toml
Owners: @NetRain-maintainers, @NetRain-core

chore: update Cargo.lock for v0.2.1
  Cargo.lock
Owners: @NetRain-maintainers, @NetRain-core

docs: Clean up README and remove non-working installation methods
  DISTRIBUTION.md
  README.md
  homebrew/netrain.rb
  install.sh
  scripts/prepare-homebrew.sh
Owners: @NetRain-maintainers, @NetRain-docs

chore: bump version to 0.2.2 for documentation update
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Owners: @NetRain-maintainers, @NetRain-core

fix: remove non-functional demo mode toggle from help
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/main.rs
Owners: @NetRain-maintainers, @NetRain-core

docs: remove references to non-existent features
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Owners: @NetRain-maintainers, @NetRain-core, @NetRain-docs

docs: fix Japanese katakana character claim
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Owners: @NetRain-maintainers, @NetRain-core, @NetRain-docs

docs: add release process documentation and script
  RELEASING.md
  scripts/release.sh
Owners: @NetRain-maintainers, @NetRain-docs

fix: remove duplicate help text from UI bottom
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/main.rs
Owners: @NetRain-maintainers, @NetRain-core

feat: improve packet dump window spacing and visual appeal
  src/main.rs
Owners: @NetRain-maintainers

docs: clarify Rust requirement for cargo install
  README.md
Owners: @NetRain-maintainers, @NetRain-docs

.github/CODEOWNERS:

# CODEOWNERS for NetRain
# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.

# Default owners for everything in the repo
* @NetRain-maintainers

# Core library code
/src/lib.rs @NetRain-maintainers @NetRain-core
/src/packet.rs @NetRain-maintainers @NetRain-core
/src/threat_detection.rs @NetRain-maintainers @NetRain-security

# Main application
/src/main.rs @NetRain-maintainers

# UI/Visualization
/src/matrix_rain.rs @NetRain-maintainers @NetRain-ui

# Tests
/tests/ @NetRain-maintainers @NetRain-qa
/tests/fixtures/ @NetRain-maintainers @NetRain-qa

# CI/CD and GitHub configuration
/.github/ @NetRain-maintainers @NetRain-devops
/.github/workflows/ @NetRain-maintainers @NetRain-devops

# Build configuration
/Cargo.toml @NetRain-maintainers @NetRain-core
/Cargo.lock @NetRain-maintainers @NetRain-core

# Documentation
/*.md @NetRain-maintainers @NetRain-docs
/CHANGELOG.md @NetRain-maintainers

# Security-sensitive files
/.github/dependabot.yml @NetRain-maintainers @NetRain-security
/.github/workflows/security-audit.yml @NetRain-maintainers @NetRain-security
