Repository marcuspat/netrain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NetRain-maintainers, @NetRain-core, @NetRain-security, @NetRain-ui, @NetRain-qa, @NetRain-devops, @NetRain-docs

.github/CODEOWNERS:

# CODEOWNERS for NetRain
# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.

# Default owners for everything in the repo
* @NetRain-maintainers

# Core library code
/src/lib.rs @NetRain-maintainers @NetRain-core
/src/packet.rs @NetRain-maintainers @NetRain-core
/src/threat_detection.rs @NetRain-maintainers @NetRain-security

# Main application
/src/main.rs @NetRain-maintainers

# UI/Visualization
/src/matrix_rain.rs @NetRain-maintainers @NetRain-ui

# Tests
/tests/ @NetRain-maintainers @NetRain-qa
/tests/fixtures/ @NetRain-maintainers @NetRain-qa

# CI/CD and GitHub configuration
/.github/ @NetRain-maintainers @NetRain-devops
/.github/workflows/ @NetRain-maintainers @NetRain-devops

# Build configuration
/Cargo.toml @NetRain-maintainers @NetRain-core
/Cargo.lock @NetRain-maintainers @NetRain-core

# Documentation
/*.md @NetRain-maintainers @NetRain-docs
/CHANGELOG.md @NetRain-maintainers

# Security-sensitive files
/.github/dependabot.yml @NetRain-maintainers @NetRain-security
/.github/workflows/security-audit.yml @NetRain-maintainers @NetRain-security

fix: simplify packet display by removing hex dump
  src/main.rs
Owners: @NetRain-maintainers

fix: restore hex dump with clean formatting
  src/main.rs
Owners: @NetRain-maintainers

fix: simplify packet dump spacing
  src/main.rs
Owners: @NetRain-maintainers

chore: bump version to 0.2.7
  CHANGELOG.md
  Cargo.toml
Owners: @NetRain-maintainers, @NetRain-core

chore: update Cargo.lock and README for v0.2.7
  Cargo.lock
Owners: @NetRain-maintainers, @NetRain-core

docs: add Linux compilation troubleshooting section
  README.md
Owners: @NetRain-maintainers, @NetRain-docs

feat: add IP address tracking and enhanced packet log display
  src/main.rs
  src/simple_matrix.rs
Owners: @NetRain-maintainers

docs: update README and bump version to 0.2.8 for IP tracking release
  Cargo.toml
  README.md
Owners: @NetRain-maintainers, @NetRain-core, @NetRain-docs

chore: update Cargo.lock for v0.2.8
  Cargo.lock
Owners: @NetRain-maintainers, @NetRain-core

Delete .claude directory
  .claude/commands/sparc/coder.md
  .claude/commands/sparc/orchestrator.md
  .claude/commands/sparc/researcher.md
  .claude/commands/swarm/analysis.md
  .claude/commands/swarm/development.md
  .claude/commands/swarm/examples.md
  .claude/commands/swarm/maintenance.md
  .claude/commands/swarm/optimization.md
  .claude/commands/swarm/research.md
  .claude/commands/swarm/testing.md
  .claude/config.json
  .claude/settings.json
Owners: @NetRain-maintainers
